# settings saved
LIGHT_RADIUS_NEAR=1
LIGHT_RADIUS_FAR=8
AMBIENT_LIGHT=0.01
LIGHT_TRANSITION_SOFTNESS=0.6
LIGHT_SHARPNESS=5
AO_LIGHT_BLEND=0.1
FOV_DEGREES=60
DEBUG_WHITEBOX_MODE=0
SCREEN_DISTORTION=0.1
ANISOTROPY_LEVEL=4
USE_DITHER=1
DITHER_AMOUNT=0.06
DITHER_PALETTE=32768
